 .notefile {
     margin-top: 20px;
     border-radius: 10px;
     overflow: hidden;
     background-color: #ffffff;
 }

 .content_main {
     position: relative;
     height: 88%;
     box-sizing: border-box;
 }

 .content_main .delete {
     position: absolute;
     right: 60px;
     top: -5px;
     width: 35px;
     height: 35px;
     border-radius: 35px;
     cursor: pointer;
     text-align: center;
     line-height: 35px;
     color: red;
 }

 .content_main .button i {
     font-size: 1.5rem;
 }

 .content_main .button:hover {
     background-color: #d3d3d3;
 }

 .content_main .new {
     position: absolute;
     right: 180px;
     top: -5px;
     width: 35px;
     height: 35px;
     border-radius: 35px;
     cursor: pointer;
     text-align: center;
     line-height: 35px;
     color: #E4AF0b;
 }

 .content_main .new i {
     font-size: 1.8rem;
 }

 .content_main .save {
     position: absolute;
     right: 120px;
     top: -5px;
     width: 35px;
     height: 35px;
     border-radius: 35px;
     cursor: pointer;
     text-align: center;
     line-height: 35px;
     color: #E4AF0b;
 }



 .content_main p {
     padding-top: 30px;
     margin-bottom: 10px;
     height: max-content;
     text-align: center;
     font-size: 16px;
     color: #929293;
 }

 .content_main .textField {
     position: absolute;
     top: 50px;
     left: 0;
     right: 0;
     margin: 0 auto;
     border: none;
     display: block;
     width: 85%;
     font-size: 2rem;
     font-weight: 700;
     /* background-color: #E4AF0b; */
 }

 .content_main .textField input{
    font-size: 2rem;
    font-weight: 700;
 }

 .content_main .textField label{
    font-size: 2rem;
    font-weight: 700;
 }

 .content_main .title:focus-visible {
     border: none;
     outline: none;
 }

 .content_main textarea {
     position: absolute;
     left: 0;
     right: 0;
     margin: 4.2rem auto 2.5rem auto;
     min-height: 85%;
     width: 85%;
     resize: none;
     border: none;
     background: linear-gradient(transparent 95%, rgba(52, 73, 94, .5) 0);
     font-size: 1.2em;
     line-height: 2em;
     background-size: 100% 2em;
     background-attachment: local;
     user-select: text;
 }

 .content_main textarea:focus {
     outline: none;
 }

 .content_main textarea::-webkit-scrollbar {
     width: 4px;
     opacity: .3;
 }

 .content_main textarea::-webkit-scrollbar-track {
     background-color: transparent;
 }

 .content_main textarea::-webkit-scrollbar-thumb {
     border-radius: 5px;
     background-color: #929293;
 }