 .notefile {
     margin-top: 20px;
     border-radius: 10px;
     overflow: hidden;
     background-color: #ffffff;
 }

 .notefile .notefile_item {
     padding: 10px 20px;
     width: 100%;
 }

 .notefile .notefile_foucs {
     color: #ffffff;
     background-color: #E4AF0b;
 }

 .notefile .notefile_item h3 {
     margin: 2px 4px;
 }

 .notefile .notefile_item span {
     margin: 0 3px;
     font-size: 14px;
     font-weight: 300;
 }

 .content_main {
     position: relative;
     height: 88%;
     box-sizing: border-box;
 }

 .content_main .delete {
     position: absolute;
     right: 60px;
     top: -5px;
     width: 35px;
     height: 35px;
     border-radius: 35px;
     cursor: pointer;
     text-align: center;
     line-height: 35px;
     color: red;
 }

 .content_main .delete i {
     font-size: 1.5rem;
 }

 .content_main .delete:hover {
     background-color: #bbbbbb;
 }

 .content_main p {
     margin-bottom: 10px;
     height: max-content;
     text-align: center;
     font-size: 16px;
     color: #929293;
 }

 .content_main textarea {
     position: absolute;
     left: 0;
     right: 0;
     margin: 0 auto;
     min-height: 90%;
     width: 85%;
     resize: none;
     border: none;
     background: linear-gradient(transparent 95%, rgba(52, 73, 94, .5) 0);
     font-size: 1.2em;
     line-height: 2em;
     background-size: 100% 2em;
     background-attachment: local;
     user-select: text;
 }

 .content_main textarea:focus {
     outline: none;
 }

 .content_main textarea::-webkit-scrollbar {
     width: 4px;
     opacity: .3;
 }

 .content_main textarea::-webkit-scrollbar-track {
     background-color: transparent;
 }

 .content_main textarea::-webkit-scrollbar-thumb {
     border-radius: 5px;
     background-color: #929293;
 }