.status{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20px;
    z-index: 51;
    background: #FFFFFF4D;
    background-origin: .7;
}

.status .left{
    float: left;
    margin-left: 3px;
}

.status .left .time{
    line-height: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
}

.status .right{
    float: right;
    margin-right: 3px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

.status .right span{
    margin-left: 5px;
}


