.lockScreenMain{
    position: fixed;
    left: 0;
    top: -100vh;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: 55;
    background-image: url(https://qcv9se.file.qingfuwucdn.com/file/2bb03faea56df0ef_1644985251802.jpg);
    background-position: 50%;
    background-size: cover;
    color: #ffffff;
    transition: .4s;
}

.lockScreenMainDisplay{
    top: 0;
}

.lockScreenMain .right{
    position: absolute;
    right: 3px;
    font-size: 18px;
    letter-spacing: 2px;
}

.lockScreenMain h1{
    margin-top: 100px;
    margin-bottom: 0;
    font-size: 60px;
    text-align: center;
}

.lockScreenMain p{
    margin-top: 5px;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
}