.photoFile{
    margin-top: 20px;
}

.photoFile .postPhoto{
    margin-top: 30px;
    margin-bottom: 100px;
    display: block;
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    border: none;
    border-radius: 10px;
    color: #4BA2FF;
    background-color: #ffffff;
    cursor: pointer;
}

.photoFile .postPhoto input{
    display: none;
}

.previewMain{
    position: relative;
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
    text-align: center;
    /* transition: .3s; */
}

.previewMain img{
    width: 100%;
    border-radius: 5px;
    
}

.previewMain button{
    position: absolute;
    top: 5px;
    right: 30px;
    font-size: 18px;
    color: #4BA2FF;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.previewMain button i{
    font-size: 20px;
}