.controller{
    position: relative;
    margin-top:20px;
    padding-top: 5px;
    width: 100vw;
    height: 35px;
    box-sizing: border-box;
    background-color: #3f3a42;
    opacity: .5;
    border-radius: 5px 5px 0 0; 
}

.comeback{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: max-content;
    cursor: pointer;
}

.comeback i{
    color: #ffffff;
    font-size: 20px;
}