body{
    margin: 0;
    padding: 0;
}

main{
    width: 100vw;
    height: 100vh;
    min-width: 900px;
    background: url('../public/wallpaper/wallpaper1.jpg') no-repeat ;
    background-position: 50%;
    background-size: cover;
}