body{
    margin: 0;
    padding: 0;
}

main{
    box-sizing: border-box;
    padding-top: 20px;
    width: 100vw;
    height: 100vh;
    background: url('../public/img/wallpaper/wallpaper3.jpg') no-repeat ;
    background-position: 50%;
    background-size: cover;
}