.appItem{
    cursor: pointer;
    margin: 3.125rem 2.5rem;
}

.appItem a .appIcon{
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 16%;
    overflow: hidden;
    width: 6.25rem;
    height: 6.25rem;
    line-height: 6.25rem;
    text-align: center;
    background-color: #4BA2FF;
}

.appItem a .appIcon:hover{
    transform: scale(1.05);
}

.appItem a{
    color: #ffffff;
    text-decoration: none;
}

.appItem a .appIcon img{
    width: 100%;
    height: 100%;
}

.appItem a .appIcon span{
    font-size: 4.375rem;
}

.appItem a p{
    left: 0;
    right: 0;
    margin: .625rem auto 0 auto;
    max-width: 6.25rem;
    font-size: 1rem;
    text-shadow: 0 0 0.5rem rgb(0 0 0 / 60%);
    text-align: center;
}